html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;   
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
    line-height: 1;
    color: $default;
    background-color: #ECF7F3;
    min-width: 320px;
}

.wrapper {
    min-height: 100%;
}

.container {
    max-width: 1113px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



